{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "add-module-exports",
    "react-html-attrs",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["es2015", "stage-2", "react"]
    }
  }
}
